Object.assign(SV, {
  sent_news_heading: "Nyhetssentiment",
  sent_col_sector: "Sektor",
  sent_col_region: "Region",
  sent_col_news_polarity: "Polaritet",
  sent_col_news_count: "Artiklar",
  sent_col_news_pos: "Pos%",
  sent_col_news_neg: "Neg%"
});
